<%- include('includes/header'); -%>

<!-- START IMAGE CAROUSEL -->
<div class="swiper-container mySwiper">
  <!-- <div id="overlay">
    <img src="/images/logo-big-white.png" alt="" srcset="">
  </div> -->
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/images/qclclawnmower.png" alt="" srcset="">
    </div>
    <div class="swiper-slide">
      <img src="/images/qclclawnmower2.jpg" alt="" srcset="">
    </div>
    <div class="swiper-slide">
      <img src="/images/qclcpic1.jpg" alt="" srcset="">
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<!-- START FEATURES -->

<!-- About Us -->
<section class="text-gray-700">
  <div class="container flex flex-col px-5 py-16 mx-auto lg:items-center md:flex-row flex-col-reverse	 lg:px-28">
    <div class="w-full mb-10 lg:w-5/6 lg:max-w-lg md:w-1/2">
      <img class="object-cover object-center rounded" alt="hero" src="/images/qclctruck.png" />
    </div>
    <div class="flex flex-col items-start text-left lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16">
      <h2 class="mb-1 text-xs font-medium tracking-widest text-black title-font">
        About Us
      </h2>
      <h1 class="mb-8 text-2xl font-bold tracking-tighter text-left text-black lg:text-5xl title-font">
        Get to know us a little bit more.
      </h1>
      <p class="mb-8 text-base leading-relaxed text-left text-gray-700">
        Quality Cuts is independently owned and operated offering the best lawncare to both commercial and residential
        properties. Quality Cuts is registered, insured and certainly qualified to fulfill all of your property
        maintance needs. Call, email, or submit a request to set up a fast, free estimate.

      </p>
    </div>
  </div>
</section>

<!-- Lawn Mowing -->
<section class="text-gray-700">
  <div class="container flex flex-col items-center px-5 py-16 mx-auto md:flex-row lg:px-28">
    <div class="flex flex-col items-start w-full pt-0 mb-16 text-left lg:flex-grow md:w-1/2 xl:mr-20 md:pr-24 md:mb-0">
      <h2 class="mb-1 text-xs font-medium tracking-widest text-black title-font">
        Lawn Mowing
      </h2>
      <h1 class="mb-8 text-2xl font-black tracking-tighter text-black md:text-5xl title-font">
        Take back your weekends.
      </h1>
      <p class="mb-8 text-base leading-relaxed text-left text-gray-600">
        When you let Quality Cuts take care of your lawn care needs, you're not just investing in a beautiful looking lawn, you're also buying your free time back! Imagine coming home to a perfectly manicured lawn and being able to enjoy summer evenings doing as you please. Services may include mowing, bagging grass, fertilization, trimming shrubs/bushes, edging walks/drives and all services include blowing off all excess grass from walks/drives/etc.
      </p>
    </div>
    <div class="w-full lg:w-5/6 lg:max-w-lg md:w-1/2">
      <img class="object-cover object-center rounded-lg" alt="hero"
        src="/images/qclclawnmower.png" />
    </div>
  </div>
</section>

<!-- Mulch & stone delivery -->
<section class="text-gray-700">
  <div class="container flex flex-col px-5 py-16 mx-auto lg:items-center md:flex-row flex-col-reverse	 lg:px-28">
    <div class="w-full mb-10 lg:w-5/6 lg:max-w-lg md:w-1/2">
      <img class="object-cover object-center rounded" alt="hero" src="/images/qclcspringmulch.jpg" />
    </div>
    <div class="flex flex-col items-start text-left lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16">
      <h2 class="mb-1 text-xs font-medium tracking-widest text-black title-font">
        Mulch and Stone Delivery
      </h2>
      <h1 class="mb-8 text-2xl font-bold tracking-tighter text-left text-black lg:text-5xl title-font">
        Add a fresh look to your landscaping.
      </h1>
      <p class="mb-8 text-base leading-relaxed text-left text-gray-700">
        Let us shovel it for you! Nothing helps add curb appeal to your property then freshening up of mulch or decorative rocks which are delivered and installed for your convenience.
      </p>
      <!-- <div class="flex flex-col justify-left lg:flex-row">
        <button
          class="flex items-center px-6 py-2 mt-auto font-semibold text-white transition duration-500 ease-in-out transform bg-black rounded-lg hover:bg-gray-800 hover:to-black focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">
          Request quote
        </button>
      </div> -->
    </div>
  </div>
</section>

<section class="text-gray-700">
  <div class="container flex flex-col items-center px-5 py-16 mx-auto md:flex-row lg:px-28">
    <div class="flex flex-col items-start w-full pt-0 mb-16 text-left lg:flex-grow md:w-1/2 xl:mr-20 md:pr-24 md:mb-0">
      <h2 class="mb-1 text-xs font-medium tracking-widest text-black title-font">
        Spring and Fall Cleanup
      </h2>
      <h1 class="mb-8 text-2xl font-black tracking-tighter text-black md:text-5xl title-font">
        We can make your yard look it's best.
      </h1>
      <p class="mb-8 text-base leading-relaxed text-left text-gray-600">
        Leaves in the fall? Debris in the spring? Whatever cleaning up your lawn needs, we can make it look its best.
      </p>
    </div>
    <div class="w-full lg:w-5/6 lg:max-w-lg md:w-1/2">
      <img class="object-cover object-center rounded-lg" alt="hero"
        src="/images/before&AfterLeaves.jpg" />
    </div>
  </div>
</section>


<section class="text-gray-700">
  <div class="container px-8 mx-auto py-36 lg:px-4">
    <p class="px-8 py-6 lg:w-1/3 md:w-full text-2xl font-medium">Photos</p>
    <div class="flex flex-wrap text-left">
      <div class="px-8 py-6 lg:w-1/3 md:w-full">
        <img class="object-cover object-center w-full h-40 rounded"
          src="images/qclcpic1.jpg" alt="content" />
      </div>
      <div class="px-8 py-6 lg:w-1/3 md:w-full text-center">
        <img class="object-cover object-center w-full h-40 rounded"
          src="/images/qclcyard.png" alt="content" />
      </div>
      <div class="px-8 py-6 lg:w-1/3 md:w-full">
        <img class="object-cover object-center w-full h-40 rounded"
          src="/images/qclclawnmower2.jpg" alt="content" />
      </div>
    </div>
    <div class="text-center">
      <a href="/gallery" class="inline-flex px-8 py-2 font-semibold text-white transition duration-500 ease-in-out transform bg-green-400 rounded-lg hover:bg-green-500 hover:to-black focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">
        Photo Gallery
      </a>
    </div>
  </div>

</section>

<%- include('includes/footer'); -%>